.homepage{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-homepage{
  border: 2px solid #fee7a4;
  padding: 20px;
  padding-left: 32px;
  display: grid;
  grid-template-columns: 70rem;
  grid-template-rows: 24rem 10rem 10rem;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin-left: 12rem;
  margin-right: 2rem;
  background-color: #284724;
}

h2{
  color: #fee7a4;
  font-size: 9rem;
  margin: 0;
  justify-self: center;
}

button{
  background-color: #AB7E4F;
  border: solid 1px black;
  border-radius: 24px;
  height: 5.2rem;
  width: 17rem;
  color: #194C5E;
  margin-left: 4rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.description{
  color: #f3eacd;
  font-size: 2.4rem;
}

.right-homepage{
  display: grid;
  justify-items: center;
  align-items: center;
}

.bacon-burger{
  width: 60rem;
  height: 60rem;
  border-radius: 23px;
  margin-right: 2rem;
}