.item-photo{
  width: 30rem;
  height: 30rem;
  border-radius: 32px;
  border: none;
}

.item-info{
  width: 30rem;
  height: 30rem;
  color: #284724;
  border-radius: 32px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: #fee7a4;
  text-align: center;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.item-description{
  width: 80%;
  align-self: flex-end;
}

.menu-entry{
  background-color: #fee7a4;
  border-radius: 32px;
}

.menu-entries{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}